<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="SMAP.au523923Flow.assignment2.wordlearnerapp">
    <!-- Creating an image asset https://www.youtube.com/watch?v=ts98gL1JCQU-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/word_learner"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/word_learner_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="SMAP.au523923Flow.assignment2.wordlearnerapp.activity.EditActivity"/>
        <activity android:name="SMAP.au523923Flow.assignment2.wordlearnerapp.activity.DetailsActivity" />
        <activity android:name="SMAP.au523923Flow.assignment2.wordlearnerapp.activity.ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".service.WordLearnerService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>